<!--Sacado de https://formspree.io/-->
<form method="POST" action="https://formspree.io/frrgcsocial@gmail.com">
    <br>
    <p style="text-align: left;margin-left : 30px;    ">Escribe tu email</p>
    <input type="email" name="email" placeholder="tu email" id="tuemail">
    <br><br>
    <p style="text-align: left;margin-left : 30px;">
        Escribe a continuación el mensaje a enviar</p>
    <textarea name="message" placeholder="tu mensaje" id="textCorreo"   rows="15"></textarea>
    <br>
    <center>
    <button type="submit">Enviar</button>
    </center>
    
  </form>
<br><br>