<footer style="text-align:left">
	
		<p style="color:white; text-decoration: underline;margin-bottom: 0.5em">
			Otros enlaces de interés</p>
			<i class="fa fa-cloud"></i>
			<a href="https://archive.ics.uci.edu/ml/index.php" target="_blank" style="display:inline">UCI Machine Learning</a>
			<br><i class="fas fa-calculator"></i>
			<a href="./img/FuncionesestadisticasOK.pdf" target="_blank" style="display:inline">Distribuciones Estadísticas</a>
			<br><i class="fas fa-microchip"></i>
			<a href="./doc/opentsdb.pdf" target="_blank" style="display:inline">openTSDB</a>
			<br><i class="fas fa-signal"></i>
			<a href="http://www.sthda.com/english/" target="_blank" style="display:inline">STHDA</a>
</footer>