//Para el código python
.language-python  pre.highlight, .content pre.highlight {
    padding: 0.4em;
    line-height: 1.21429em;
    font-size: 14px;
    font-family: monospace;
    color: black;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background-color: #f7f7f7 !important;
}

.language-python code, .content pre.highlight code {
    background-color: #f7f7f7 !important;
}
// Para las salidas de resultados
.highlighter-rouge {
    font-size: 0.75em;
}
//Para las tablas
.content table{
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    color: black;
    font-size: 12px;
    table-layout: fixed;
    background-color: transparent;
    line-height: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content table tr:nth-child(odd) {
    background: #f5f5f5;
}

//Para botón descargar
.descargar{
    display: inline !important;
    background-color: beige;
    border: 3px solid blue;
    padding: 2px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px
}