html{
    //background-image: linear-gradient(to bottom right, #e4f1fe, #81cfe0);
     background: url(../img/fondo.png) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

//Para el c칩digo python
.language-python  pre.highlight, .language-r pre.highlight {
    padding: 0.4em;
    line-height: 1.21429em;
    font-size: 14px;
    font-family: monospace;
    color: black;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background-color: #f7f7f7 !important;
}

.language-python code, .language-r code {
    background-color: #f7f7f7 !important;
}
// Para las salidas de resultados
.highlighter-rouge {
    font-size: 0.75em;
}
//Para las tablas
.content table{
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    color: black;
    font-size: 12px;
    table-layout: fixed;
    background-color: transparent;
    line-height: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left:auto; 
    margin-right:auto;
}
.content table tr:nth-child(odd) {
    background: #f5f5f5;
}

//Para bot칩n descargar
.descargar{
    display: inline !important;
    background-color: beige;
    border: 3px solid blue;
    padding: 2px;
    margin-right: 20px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px
}

//A침ado lo siguiente para el scroll to top
.scrollToTop {
    margin: 0 30px 40px 0;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    right: 0;
    display: none;
    background-color:transparent;
    border: 2px solid rgb(245, 10, 10);
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    border-radius: 35px;
  }
  
  .scrollToTop:hover {
    text-decoration: none;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white !important;
    border-radius: 35px;
  }

  //Lo siguiente es para el contact form
  textarea#textCorreo{
      width: 90% !important;
      height: auto;
      margin-left: 20px;
  }
  input#tuemail{
      width: 90% !important;
      margin-left: 20px;
  }

  //Lo siguiente es para controlar el bot칩n de donate
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 290px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip .tooltiptext {
    top: -5px;
    left: 105%; 
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
  