---
layout: default
---
<article id="post-page">
	<h2>{{ page.title }}</h2>		
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">
		{{ page.date | date_to_string }}
		<div style="display: initial;float: right">
		{% if page.author!="" %}
		Autor: <span style="font-weight: bold">{{ page.author }}</span>
		{% endif %}
		</div>
	</time>

	<div class="content">
		
		{{ content }}
		
	</div>
	<!-- Incluyo los comentarios-->
	{% if page.comments %}
		{% include comments.html %}

	{% endif %}
</article>

