---
layout: default
---
<article id="post-page">
	<h2>{{ page.title }}</h2>		
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">
		{{ page.date | date_to_string }}
		<div style="display: initial;float: right">
		{% if page.author!="" %}
		Autor: <span style="font-weight: bold">{{ page.author }}</span>
		{% endif %}
		</div>
	</time>

	<div class="content">
		
		{{ content }}
		
	</div>
	<hr>
	<h3>Etiquetas de este post</h3>
	<ul class="tags">
			{% for tag in page.tags %}
			  {% capture tag_name %}{{ tag }}{% endcapture %}
			 	<li> 
			  <a href="{{ site.url }}{{ site.baseurl }}/tag/{{ tag_name }}" class="tag2">{{ tag_name }}&nbsp;</a>
				</li>
			  {% endfor %}
	</ul>
			
	<hr>
	<br>
	{% include donations-paypal.html %}
	
	<hr style="color:#1e824c;size:10">
	<br>
	<!-- Incluyo los comentarios-->
	{% if page.comments %}
		{% include comments.html %}

	{% endif %}
</article>

